/**************************
Author: Gan Ming liang
TP No: TP063338 
Subject: Contact Us UI
**************************/

/**************************
F O N T - U S E D:
font-family: 'Calistoga', cursive;
font-family: 'Didact Gothic', sans-serif;
**************************/

html {
    background: #163A24;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}


.contact-section {
    background: #163A24;
    background-size: cover;
    padding: 40px 0;
}


.contact-section h1 {
    text-align: center;
    color: #ddd;
    font-family: 'Calistoga', cursive;
    font-weight: lighter;
}


.contact-border {
    width: 100px;
    height: 10px;
    background: #61910F;
    margin: 40px auto;
}


.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}


.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    border-radius: 10px;
    background: #DBC8AC;
    padding: 20px 40px;
    outline: none;
    color: #555;
    transition: 0.5s;
}


.contact-form-text:hover {
    background: #F2EFE6;
}

.contact-form-text:focus {
    background: #F2EFE6;
}


textarea.contact-form-text {
    resize: none;
    height: 120px;
    border-radius: 10px;
}


.contact-form-btn {
    margin-top: 10px;
    margin-left: 225px;
    border: 0;
    background: #29870b;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.contact-form-btn:hover {
    background: #F2EFE6;
    color: #555;
}


.btn-response-message {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}